#container {
    display: table;
}


#container > div {
  display: table-cell;
  vertical-align: top;
  width:13vw;
  text-align: center;
}

.dayText {
font-family: Roboto;
font-weight: 400;
font-size: 14px;
color: #ffffff;
text-align: center;
}

.textContainer{
    height:8vh;
    min-width:13vw;
    align-content: center;
    align-items: center;
    justify-content: center;
    display:flex;
}


.scoreText {
font-family: Roboto;
font-weight: 400;
width:19vw;
border-right:1px solid rgba(255,255,255,0.15);
text-align: center;
font-size: 20px;
color: #ffffff;
text-align: center;
}

.avgText {
font-family: Roboto;
font-weight: 700;
width:19vw;
border-right:1px solid rgba(255,255,255,0.15);
text-align: center;
font-size: 20px;
color: #ffffff;
text-align: center;
}

.opacity50{
    opacity: 0.5;
}

.noborder{
border-right:0px solid rgba(255,255,255,0.15);

}

.uroCardTop{
    background-color: #535c6E;
    padding:2vw;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0
}
.uroCardTop h1,
.uroCardTop h2,
.uroCardBottom h1,
.uroCardBottom h2{
font-family: Roboto;
font-weight: 400;
font-size: 14px;
color: #ffffff;
text-align: center
}

.uroCardBottom h2,
.uroCardTop h2{
width:19vw;
border-right:1px solid rgba(255,255,255,0.15);
font-size: 20px;
}

.uroCardBottom h2{
    font-weight: 700;

}

.uroCardBottom{
    background-color: #374053;
    padding:1vw;
    padding-top:0px;
    padding-bottom:0px;
    margin-top: 0px;
    border-radius: 0pt 0pt 8px 8px
}



.root {
    margin:1vw;
    flex-grow: 1
}

.top-card {
    background-color: #900736;
    border-radius: 8px;
    padding:1vw;
    padding-Left:3vw;
    padding-right:3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
  }
  

.top-card h1,
.top-card h2{
    font-family: Roboto;
    font-weight: 700;
    margin:0px;
    font-size: 15px;
    color:white;
}
.top-card h2{
    font-weight: 400;
    font-size: 13px;
}

.top-card h3,
.top-card h4{
    font-family: Roboto;
    font-weight: 700;
    margin:0px;
    font-size: 24px;
    color:white;

}
.top-card h4{
    opacity:0.5;

}
.button{
    background-color:#091630;
    border:0px;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:white
}

.button h5{
    font-family: Roboto;
    font-weight: 400;
    margin:0px;
    font-size: 13px;
    color:white;

}